# Copyright [2019] [Integreat Project]
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Include all non-python files in the ycms directory
graft ycms

# Exclude the static source files since we only need the compiled files in ycms/static/dist
prune ycms/static/src

# Exclude media files
prune ycms/media

# Exclude development settings
exclude ycms/core/*_settings.py

# Exclude test data
exclude ycms/cms/fixtures/test_*.json

# Exclude byte code cache files
global-exclude *.py[co]
global-exclude __pycache__

# Exclude existing log file
exclude ycms/ycms.log

# Exclude source of translation file
exclude ycms/locale/*/LC_MESSAGES/django.po
