{% extends "_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% translate "Ward" %}
{% endblock title %}
{% block content %}
    <div class="flex justify-center items-center">
        <div class="container mx-auto">
            <div class="mb-4 flex flex-col md:flex-row items-stretch justify-end">
                <div class="flex flex-col md:flex-row items-stretch md:items-center justify-end md:space-x-4">
                    <!-- drawer init and toggle -->
                    <button id="manuallyAssignButton"
                            class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-4 md:mb-0"
                            type="button"
                            data-drawer-target="drawer-right-unassigned"
                            data-drawer-show="drawer-right-unassigned"
                            data-drawer-placement="right"
                            aria-controls="drawer-right-unassigned">
                        <i icon-name="hand" class="mr-2"></i>
                        {% translate "Manually Assign" %}
                    </button>
                    <button type="button"
                            class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-4 md:mb-0">
                        <i icon-name="bot" class="mr-2"></i>
                        {% translate "Suggest Assignment" %}
                    </button>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-7">
                {% include "ward/ward_info.html" %}
            </div>
            <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-7">
                {% if perms.cms.view_patient %}
                    {% for room in rooms %}
                        <div class="col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-1 xl:col-span-1 flex"
                             data-drawer-target="drawer-right-{{ room.room_number }}"
                             data-drawer-show="drawer-right-{{ room.room_number }}"
                             data-drawer-placement="right"
                             aria-controls="drawer-right-{{ room.room_number }}">
                            <div class="w-full max-w-sm p-6 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 {% if room.available_beds > 0 %}bg-green-300{% else %}bg-red-500{% endif %} {% if room.available_beds > 0 %}hover:bg-green-400{% else %}hover:bg-red-600{% endif %} hover:text-gray-900 cursor-pointer">
                                {% include "ward/ward_room_card.html" %}
                            </div>
                        </div>
                        {% if room.room_number == corridor_index %}
                            <div class="col-span-full">
                                <div class="bg-gray-300 p-2 text-center font-semibold border border-gray-200 rounded-lg shadow">
                                    {% translate "Corridor" %}
                                </div>
                            </div>
                        {% endif %}
                        {% include "ward/ward_drawer.html" %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="update-modal"
         tabindex="-1"
         aria-hidden="true"
         data-modal-target="update-modal"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    </div>
    {% if ward.patients %}
        {% include "ward/ward_modal.html" %}
    {% endif %}
    {% include "bed_assignment/bed_assignment_drawer.html" %}
{% endblock content %}
