{% load i18n %}
<div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-2 ">
    <div class="rounded-lg border border-gray-300 bg-white p-4 shadow-md flex flex-col h-full hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="mb-4 text-2xl font-semibold dark:text-white">{% translate "Patient Information" %}</div>
        <div class="flex justify-between">
            <div>
                <div class="text-lg font-semibold dark:text-white">{% translate "Female" %}</div>
                <div class="text-3xl font-bold dark:text-white">{{ patient_info.female_patients }}</div>
            </div>
            <div>
                <div class="text-lg font-semibold dark:text-white">{% translate "Male" %}</div>
                <div class="text-3xl font-bold dark:text-white">{{ patient_info.male_patients }}</div>
            </div>
            <div>
                <div class="text-lg font-semibold dark:text-white">{% translate "Total" %}</div>
                <div class="text-3xl font-bold dark:text-white">{{ patient_info.total_patients }}</div>
            </div>
        </div>
    </div>
</div>
<div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-2">
    <div class="rounded-lg bg-white border border-gray-200 p-4 shadow-md flex flex-col h-full hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="mb-4 text-2xl font-semibold dark:text-white">{% translate "Bed Availability" %}</div>
        <div class="grid grid-cols-2">
            <div class="col-span-2 sm:col-span-1">
                <div class="text-lg font-semibold dark:text-white">{% translate "Available Beds" %}</div>
                <div class="text-3xl font-bold dark:text-white">{{ ward.available_beds }}</div>
            </div>
            <div class="col-span-1 sm:col-span-1">
                <div class="text-lg font-semibold dark:text-white">{% translate "Total Beds" %}</div>
                <div class="text-3xl font-bold dark:text-white">{{ ward.total_beds }}</div>
            </div>
        </div>
    </div>
</div>
<div class="col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-2">
    <div class="rounded-lg bg-white border border-gray-200 p-4 shadow-md flex h-full justify-between  hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div>
            <div class="mt-2 mb-4 text-2xl font-semibold  dark:text-white">{% translate "Unassigned Patients" %}</div>
            <div class="grid grid-cols-1">
                <div class="text-3xl font-bold dark:text-white">{{ unassigned_bed_assignments|length }}</div>
            </div>
        </div>
        <div class="flex flex-col items-stretch gap-2 self-center">
            <!-- drawer init and toggle -->
            <button id="manuallyAssignButton"
                    class="block btn mb-4 md:mb-0"
                    type="button"
                    data-drawer-target="drawer-right-unassigned"
                    data-drawer-show="drawer-right-unassigned"
                    data-drawer-placement="right"
                    aria-controls="drawer-right-unassigned">
                <i icon-name="hand" class="mr-2 align-text-bottom"></i>
                {% translate "Manually Assign" %}
            </button>
            <a href="{% url "cms:protected:timeline_suggest" selected_ward_id %}"
               class="block btn mb-2 md:mb-0">
                <i icon-name="bot" class="mr-2 align-text-bottom"></i>
                {% translate "Suggest Assignment" %}
            </a>
        </div>
    </div>
</div>
