{% load i18n %}
<div id="drawer-right-{{ room.room_number }}"
     class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
     tabindex="-1"
     aria-labelledby="drawer-right-label">
    <h5 id=" drawer-right-label"
        class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
        <i icon-name="info" class="mr-2"></i>
        {% translate "Room" %}
        {{ room.room_number }}
    </h5>
    <button type="button"
            data-drawer-hide="drawer-right-{{ room.room_number }}"
            aria-controls="drawer-right-{{ room.room_number }}"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <i icon-name="x"></i>
        <span class="sr-only">{% translate "Close menu" %}</span>
    </button>
    <ul class="text-base text-gray-500 list-disc list-inside dark:text-gray-400">
        <li>{% translate "Beds" %}: {{ room.occupied_beds }} / {{ room.total_beds }}</li>
    </ul>
    <p class="mb-6 text-sm text-gray-500 dark:text-gray-400"></p>
    <div class="flex flex-col gap-4">
        {% for patient in room.patients.all %}
            {% with bed_assignment=patient.current_stay %}
                <div class="border bg-white rounded-lg shadow-lg p-4 w-full">
                    <!-- Patient Information Header -->
                    <div class="text-center mb-6">
                        <h2 class="text-2xl font-semibold">{% translate "Patient Information" %}</h2>
                    </div>
                    <!-- Patient Details -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <!-- Personal Information -->
                        <div class="mb-2">
                            <h3 class="text-lg font-semibold mb-2">{% translate "Personal Details" %}</h3>
                            <p>
                                <span class="font-semibold">{% translate "Name" %}:</span> {{ patient.first_name }}
                                {{ patient.last_name }}
                            </p>
                            <p>
                                <span class="font-semibold">{% translate "Age" %}:</span> {{ patient.age }}
                            </p>
                            <p>
                                <span class="font-semibold">{% translate "Gender" %}:</span> {{ patient.gender | title }}
                            </p>
                            <p>
                                <span class="font-semibold">{% translate "Accompanied" %}:</span>
                                {% if bed_assignment.accompanied %}
                                    <i icon-name="check" class="w-4 h-4 text-green-700"></i>
                                {% else %}
                                    <i icon-name="x" class="w-4 h-4 text-red-700"></i>
                                {% endif %}
                                <p>
                                    <span class="font-semibold">{% translate "Privately insured" %}:</span>
                                    {% if patient.insurance_type %}
                                        <i icon-name="check" class="w-4 h-4 text-green-700"></i>
                                    {% else %}
                                        <i icon-name="x" class="w-4 h-4 text-red-700"></i>
                                    {% endif %}
                                </p>
                            </p>
                        </div>
                        <!-- Medical Information -->
                        <div class="mb-2">
                            <h3 class="text-lg font-semibold mb-2">{% translate "Medical Details" %}</h3>
                            <p>
                                <span class="font-semibold">{% translate "Diagnosis code" %}:</span>
                                {{ bed_assignment.medical_record.diagnosis_code }}
                            </p>
                            <p>
                                <span class="font-semibold">{% translate "Note" %}:</span> {{ bed_assignment.medical_record.note }}
                            </p>
                            <p>
                                <span class="font-semibold">{% translate "Admission date" %}:</span>
                                {% if patient.current_admission_date %}{{ patient.current_admission_date }}{% endif %}
                            </p>
                            <p>
                                <span class="font-semibold">{% translate "Discharge date" %}:</span>
                                {% if patient.current_discharge_date %}{{ patient.current_discharge_date }}{% endif %}
                            </p>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="flex justify-end border-t pt-2 border-gray-200 rounded-b dark:border-gray-600">
                        <div class="flex gap-2">
                            <a href="{% url 'cms:protected:assign_patient' ward_id=ward.id assignment_id=bed_assignment.id %}">
                                <button class="text-white bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-700  rounded inline-flex items-center px-5 py-2.5 text-center">
                                    {% translate "Transfer" %}
                                </button>
                            </a>
                            <button id="editButton-{{ patient.current_stay.id }}"
                                    data-modal-target="update-modal"
                                    data-modal-toggle="update-modal"
                                    data-bedassignment-id="{{ patient.current_stay.id }}"
                                    class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-700  rounded inline-flex items-center px-5 py-2.5 text-center">
                                {% translate "Edit" %}
                            </button>
                            <button id="dischargeButton-{{ ward.id }}"
                                    data-modal-toggle="modalEl"
                                    type="button"
                                    data-bedassignment-id="{{ patient.current_stay.id }}"
                                    class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 rounded px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                {% translate "Discharge" %}
                            </button>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
</div>
