{% load i18n %}
<div id="timetravel-controls"
     class="hidden fixed bottom-2 left-1/2 transform -translate-x-1/2 flex justify-center items-stretch bg-background-50 border border-gray-500 rounded-xl shadow-lg z-50 p-4 text-md gap-2 dark:bg-background-900">
    <button class="hidden md:!inline-block btn btn-outline-plain"
            data-minutes="-1440">
        <i icon-name="chevrons-left"></i>{% translate "day" %}
    </button>
    <button class="hidden md:!inline-block btn btn-outline-plain"
            data-minutes="-60">
        <i icon-name="chevrons-left"></i>{% translate "hour" %}
    </button>
    <button class="hidden md:!inline-block btn btn-outline-plain"
            data-minutes="-1">
        <i icon-name="chevrons-left"></i>{% translate "minute" %}
    </button>
    {# djlint:off #}
    <input type="datetime-local" style="width: auto !important; box-shadow: none !important;" />
    {# djlint:on #}
    <button class="hidden md:!inline-block btn btn-outline-plain"
            data-minutes="1">
        {% translate "minute" %}<i icon-name="chevrons-right"></i>
    </button>
    <button class="hidden md:!inline-block btn btn-outline-plain"
            data-minutes="60">
        {% translate "hour" %}<i icon-name="chevrons-right"></i>
    </button>
    <button class="hidden md:!inline-block btn btn-outline-plain"
            data-minutes="1440">
        {% translate "day" %}<i icon-name="chevrons-right"></i>
    </button>
</div>
