{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load render_bundle from webpack_loader %}
{% block title %}
    {% translate "Settings" %}
{% endblock title %}
{% block content %}
    <div class="flex flex-wrap justify-center items-start gap-8 min-h-full">
        <div class="w-[550px] rounded-lg border border-gray-300 bg-white p-8 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <h2>{% translate "Settings" %}</h2>
            <form method="post">
                {% csrf_token %}
                {{ user_form }}
                <input hidden name="form_type" value="general">
                <div class="mt-6">
                    <button class="btn" type="submit">{% translate "Save" %}</button>
                </div>
            </form>
        </div>
        <div class="w-[550px] rounded-lg border border-gray-300 bg-white p-8 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <h2>{% translate "Change password" %}</h2>
            <form method="post">
                {% csrf_token %}
                {{ password_form }}
                <input hidden name="form_type" value="password">
                <div class="mt-6">
                    <button class="btn" type="submit">{% translate "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
