{% extends "_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% translate "Assign the patient" %}
{% endblock title %}
{% block content %}
    {% with patient=bed_assignment.medical_record.patient %}
        <div class="flex justify-center items-center">
            <div class="container mx-auto">
                <!-- Assigning Patient Section -->
                <div id="assign-info" class="flex flex-col">
                    <div class="md:flex md:flex-col space-y-4">
                        <div class="bg-white border border-gray-300 rounded-lg shadow-lg p-4 w-full flex items-center justify-between dark:bg-gray-800 dark:border-gray-600">
                            <h2 class="text-2xl font-semibold">
                                {% translate "Assigning patient" %} {{ patient.first_name }}
                                {{ patient.last_name }}
                            </h2>
                            <div class="flex gap-2 items-center">
                                <span class="font-bold dark:text-gray-300">{% translate "More reassignment options" %}:</span>
                                <form method="post"
                                      id="ward-reassignment-form"
                                      action="{% url "cms:protected:assign_patient" ward.id bed_assignment.id %}">
                                    {% csrf_token %}
                                    <select name="new_ward" id="new_ward_select">
                                        <option selected="true" disabled="disabled">{% translate "Move patient to different ward" %}</option>
                                        {% for new_ward in wards %}
                                            {% if new_ward.id != ward.id %}<option value="{{ new_ward.id }}">{{ new_ward.name }}</option>{% endif %}
                                        {% endfor %}
                                    </select>
                                </form>
                                {% if bed_assignment.bed %}
                                    <button class="text-red-700 border-red-700 border-2 hover:border-red-800 dark:text-red-100 hover:text-white hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 rounded px-5 py-2 dark:hover:bg-red-700 dark:focus:ring-red-800"
                                            type="submit"
                                            form="unassign-form">
                                        <form hidden
                                              id="unassign-form"
                                              method="post"
                                              action="{% url "cms:protected:assign_patient" ward.id bed_assignment.id %}">
                                            {% csrf_token %}
                                        </form>
                                        {% translate "Unassign" %}
                                    </button>
                                {% endif %}
                                <a href="{% url 'cms:protected:ward_detail' pk=ward.id %}">
                                    <button type="button"
                                            class="text-white bg-red-700 hover:bg-red-800 border-2 border-red-700 hover:border-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 px-5 py-2 text-center inline-flex rounded items-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                                        <i icon-name="x" class="mr-2"></i>
                                        {% translate "Cancel" %}
                                    </button>
                                </a>
                            </div>
                        </div>
                        {% with assignment_mode=True %}
                            {% include "patient/patient_card.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-7">
                    {% if perms.cms.view_patient %}
                        {% for room in rooms %}
                            <!-- room card -->
                            <form method="post"
                                  id="assign-room-{{ room.id }}"
                                  class="col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-1 xl:col-span-1"
                                  action="{% url "cms:protected:assign_patient" ward.id bed_assignment.id %}">
                                <div {% if bed_assignment.accompanied and room.available_beds > 1 %}id="assignRoomCard-room-{{ room.room_number }}" data-modal-target="assign-modal" data-modal-toggle="assign-modal" {% elif room.available_beds > 0 and not bed_assignment.accompanied %}id="assignRoomCard-room-{{ room.room_number }}" data-modal-target="assign-modal" data-modal-toggle="assign-modal"{% endif %}
                                    data-room-id="{{ room.id }}"
                                    data-room-number="{{ room.room_number }}"
                                    data-room-gender-warning="{% if patient.gender not in room.genders and room.occupied_beds > 0 %}{% translate "Mixed Gender" %}{% endif %}"
                                    data-room-age-warning="{% if patient.age|add:room.minus_max_age > 20 and room.occupied_beds > 0 %}{% translate "Age gap is large" %}{% endif %}"
                                    data-room-insurance-warning="{% if patient.insurance_type not in room.insurance_types and room.occupied_beds > 0 %}{% translate "Mixed insurance" %}{% endif %}"
                                    assign-modal-text="{% translate "Are you sure you want to assign the patient to Room {}?" %}"
                                    warning-modal-text="{% translate "Assign to Room {} may cause:" %}"
                                    class="flex h-full">
                                    {% csrf_token %}
                                    <input type="hidden" name="bed_id" value="{{ room.assignable_beds.0.id }}" />
                                    <div class="w-full p-6 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 {% if room.available_beds == 0 %}opacity-75 filter grayscale bg-gray-200 pointer-events-none {% elif bed_assignment.accompanied and room.available_beds < 2 %}opacity-75 filter grayscale bg-gray-200 pointer-events-none {% elif patient.gender not in room.genders and room.occupied_beds > 0 %}bg-yellow-50 hover:bg-yellow-100 hover:text-gray-900 cursor-pointer {% elif patient.age|add:room.minus_max_age > 20 and room.occupied_beds > 0 %}bg-yellow-50 hover:bg-yellow-100 hover:text-gray-900 cursor-pointer {% elif patient.insurance_type not in room.insurance_types and room.occupied_beds > 0 %}bg-yellow-50 hover:bg-yellow-100 hover:text-gray-900 cursor-pointer {% else %}bg-green-300 hover:bg-green-400 hover:text-gray-900 cursor-pointer dark:bg-green-500 dark:hover:bg-green-600 dark:hover:text-gray-800{% endif %}">
                                        {% include "ward/ward_room_card.html" %}
                                    </div>
                                </div>
                            </form>
                            {% if forloop.counter == corridor_index %}
                                <div class="col-span-full">
                                    <div class="bg-gray-300 p-2 text-center font-semibold border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-800 dark:text-white">
                                        {% translate "Corridor" %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="assign-modal"
                 tabindex="-1"
                 class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <button type="button"
                                id="closeAssignButton"
                                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="assign-modal">
                            <i icon-name="x"></i>
                            <span class="sr-only">{% translate "Close modal" %}</span>
                        </button>
                        <div class="p-4 md:p-5">
                            <div class="text-center">
                                <i icon-name="alert-circle"
                                   class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                                   aria-hidden="true"></i>
                            </div>
                            <div id="assign-modal-content"></div>
                            <button data-modal-hide="assign-modal"
                                    type="button"
                                    id="confirmAssignButton"
                                    class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                                {% translate "Yes" %}
                            </button>
                            <button data-modal-hide="assign-modal"
                                    type="button"
                                    id="cancelAssignButton"
                                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                {% translate "No" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endblock content %}
