{% load i18n %}
<!-- drawer component -->
<div id="drawer-right-unassigned"
     class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
     tabindex="-1"
     aria-labelledby="drawer-right-label">
    <h5 id="drawer-right-label"
        class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
        <i icon-name="info" class="mr-2"></i>
        {% translate "Unassigned Patients" %}
    </h5>
    <button type="button"
            data-drawer-hide="drawer-right-unassigned"
            aria-controls="drawer-right-unassigned"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <i icon-name="x"></i>
        <span class="sr-only">{% translate "Close menu" %}</span>
    </button>
    <div class="flex flex-col gap-4">
        {% for bed_assignment in unassigned_bed_assignments %}
            {% with patient=bed_assignment.medical_record.patient %}
                <div class="bg-white rounded-lg shadow-lg p-4 w-full">
                    {% include "patient/patient_card.html" %}
                    <!-- Buttons -->
                    <div class="flex justify-end border-t pt-2 border-gray-200 rounded-b dark:border-gray-600">
                        <div class="flex gap-2">
                            <a href="{% url 'cms:protected:assign_patient' ward_id=ward.id assignment_id=bed_assignment.id %}">
                                <button class="text-white bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-700  rounded inline-flex items-center px-5 py-2.5 text-center">
                                    {% translate "Assign" %}
                                </button>
                            </a>
                            <button id="editButton-{{ patient.current_stay.id }}"
                                    data-modal-target="update-modal"
                                    data-modal-toggle="update-modal"
                                    data-bedassignment-id="{{ patient.current_stay.id }}"
                                    class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-700  rounded inline-flex items-center px-5 py-2.5 text-center">
                                {% translate "Edit" %}
                            </button>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
</div>
