{% extends "_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_filters %}
{% block title %}
    {% translate "Bed Assignments" %}
{% endblock title %}
{% block content %}
    {% if perms.cms.view_patient %}
        <div class="w-full flex flex-col flex-wrap mb-6 relative">
            <div class="flex flex-col">
                <h1 class="heading">{% translate "Bed Assignments" %}</h1>
            </div>
            <div class="flex justify-end">
                <a href="{% url 'cms:protected:create_bed_assignment' %}">
                    <button type="button"
                            class="px-5 py-2.5 mb-2 text-sm font-medium text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <i icon-name="plus" class="mr-2"></i>
                        {% translate "New Bed Assignment" %}
                    </button>
                </a>
            </div>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">{% translate "Patient name" %}</th>
                        <th scope="col" class="px-6 py-3">{% translate "Gender" %}</th>
                        <th scope="col" class="px-6 py-3">{% translate "Age" %}</th>
                        <th scope="col" class="px-6 py-3">{% translate "Diagnosis" %}</th>
                        <th scope="col" class="px-6 py-3">{% translate "Admission date" %}</th>
                        <th scope="col" class="px-6 py-3">{% translate "Discharge date" %}</th>
                        <th scope="col" class="px-6 py-3">{% translate "Bed" %}</th>
                        <th scope="col" class="px-6 py-3">{% translate "Action" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bed_assignment in bed_assignments %}
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ bed_assignment.medical_record.patient }}
                            </th>
                            <td class="px-6 py-4">
                                {% if bed_assignment.medical_record.patient.gender == 'm' %}
                                    <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                                    {% translate "Male" %}</span>
                                {% else %}
                                    <span class="bg-pink-100 text-pink-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300">
                                    {% translate "Female" %}</span>
                                {% endif %}
                            </td>
                            <td class="px-6 py-4">{{ bed_assignment.medical_record.patient.age }}</td>
                            <td class="px-6 py-4">{{ bed_assignment.medical_record.diagnosis_code }}</td>
                            <td class="px-6 py-4">{{ bed_assignment.admission_date }}</td>
                            <td class="px-6 py-4">
                                {% if bed_assignment.discharge_date %}{{ bed_assignment.discharge_date }}{% endif %}
                            </td>
                            <td class="px-6 py-4">
                                {% if bed_assignment.bed %}{{ bed_assignment.bed }}{% endif %}
                            </td>
                            <td class="px-6 py-4">
                                <a href="{% url 'cms:protected:update_bed_assignment' pk=bed_assignment.id %}">
                                    <button type="button"
                                            class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                        Edit
                                    </button>
                                </a>
                                <button id=" dischargeButton-{{ bed_assignment.id }}"
                                        data-modal-toggle="modalEl"
                                        type="button"
                                        data-bedassignment-id="{{ bed_assignment.medical_record.patient.current_stay.id }}"
                                        class="text-xs focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg px-3 py-2 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                    {% translate "Discharge" %}
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "ward/ward_modal.html" %}
    {% else %}
        <h2 class="text-center">{% translate "You do not have permission view patient data. To do so, please log in." %}</h2>
    {% endif %}
{% endblock content %}
