{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load render_bundle from webpack_loader %}
{% block title %}
    {% translate "Manage Patients" %}
{% endblock title %}
{% block content %}
    {% if perms.cms.view_patient %}
        <div class="w-full flex flex-col flex-wrap mb-6">
            <h1 class="heading">{% translate "Patients list" %}</h1>
        </div>
        <input id="search-patient-input"
               type="text"
               placeholder="{% translate "Search for name..." %}"
               class="mb-2" />
        <div class="shadow-lg overflow-x-auto">
            <table id="patients" class="min-w-full text-sm text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-100">
                    <tr>
                        <th class="px-6 py-3">{% translate "Patient name" %}</th>
                        <th class="px-6 py-3">{% translate "Gender" %}</th>
                        <th class="px-6 py-3">{% translate "Date of Birth" %}</th>
                        <th class="px-6 py-3">{% translate "Privately insured" %}?</th>
                        <th class="px-6 py-3 w-60">{% translate "Status" %}</th>
                        <th class="px-6 py-3 w-[400px] ">{% translate "Action" %}</th>
                    </tr>
                </thead>
                <tbody class="overflow-y-auto">
                    {% if perms.cms.add_user %}
                        <tr class="odd:bg-white even:bg-gray-100 border-b dark:odd:bg-gray-800 dark:even:bg-gray-700 dark:border-gray-700 w-full">
                            <td class="px-6 py-3 col-span-2">
                                <h2 class="lg:hidden mb-4">{% translate "Add patient" %}</h2>
                                <div class="flex flex-nowrap gap-4 flex-col lg:flex-row">
                                    {% render_field new_patient_form.last_name form="add-patient" %}
                                    {% render_field new_patient_form.first_name form="add-patient" %}
                                </div>
                            </td>
                            <td class="px-6 py-3">{% render_field new_patient_form.gender form="add-patient" %}</td>
                            <td class="px-6 py-3">{% render_field new_patient_form.date_of_birth form="add-patient" %}</td>
                            <td class="px-6 py-3 text-center">{% render_field new_patient_form.insurance_type form="add-patient" %}</td>
                            <td class="!hidden lg:!block px-6 py-3"></td>
                            <td class="p-4 text-right">
                                <button class="px-2 text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-700 rounded px-5 py-2.5 text-center w-full lg:w-auto"
                                        form="add-patient">
                                    <form hidden
                                          id="add-patient"
                                          method="post"
                                          action="{% url "cms:protected:create_patient" %}">
                                        {% csrf_token %}
                                    </form>
                                    {% translate "Add" %}
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                    <tr class="h-3 w-full"></tr>
                    {% for patient, patient_form in patients %}
                        <tr data-patient-id="{{ patient.id }}"
                            class="py-2 lg:py-0 odd:bg-white even:bg-gray-100 border-b dark:odd:bg-gray-800 dark:even:bg-gray-700 dark:border-gray-700">
                            <td class="px-6 py-3">
                                <p class="py-2 lg:px-3 text-base border border-transparent text-xl lg:text-base ">
                                    {{ patient.last_name }}, {{ patient.first_name }}
                                </p>
                                <div class="!hidden flex flex-nowrap gap-4 flex-col lg:flex-row">
                                    {% render_field patient_form.last_name form=patient.id %}
                                    {% render_field patient_form.first_name form=patient.id %}
                                </div>
                            </td>
                            <td class="px-6 lg:py-3">
                                <span class="lg:hidden help-text">{% translate "Gender" %}:</span>
                                {% if patient.gender == 'm' %}
                                    <p class="inline lg:block lg:py-2 px-3 text-base border border-transparent w-full bg-blue-100 text-blue-800 text-sm font-medium rounded dark:bg-blue-900 dark:text-blue-300">
                                        {% translate "Male" %}
                                    </p>
                                {% elif patient.gender == 'f' %}
                                    <p class="inline lg:block lg:py-2 px-3 text-base border border-transparent w-full bg-pink-100 text-pink-800 text-sm font-medium rounded dark:bg-pink-900 dark:text-pink-300">
                                        {% translate "Female" %}
                                    </p>
                                {% elif patient.gender == 'd' %}
                                    <p class="inline lg:block lg:py-2 px-3 text-base border border-transparent w-full bg-green-100 text-green-800 text-sm font-medium rounded dark:bg-pink-900 dark:text-pink-300">
                                        {% translate "Diverse" %}
                                    </p>
                                {% endif %}
                                <div class="radio-row !hidden">{% render_field patient_form.gender form=patient.id %}</div>
                            </td>
                            <td class="px-6 lg:py-3">
                                <p class="lg:py-2 lg:px-3 text-base">
                                    <span class="lg:hidden help-text">{% translate "Date of birth" %}:</span> {{ patient.date_of_birth|date:'d.m.Y' }}
                                </p>
                                {% render_field patient_form.date_of_birth form=patient.id class+="!hidden" %}
                            </td>
                            <td class="px-6 lg:py-3 lg:text-center">
                                <span class="lg:hidden help-text">{% translate "Privately insured" %}:</span>
                                {% if patient.insurance_type %}
                                    <i icon-name="check" class="w-4 h-4 text-green-700 dark:text-green-400"></i>
                                {% else %}
                                    <i icon-name="x" class="w-4 h-4 text-red-700 dark:text-red-400"></i>
                                {% endif %}
                                <div class="radio-row !hidden">{% render_field patient_form.insurance_type form=patient.id %}</div>
                            </td>
                            <td class="px-6 py-3 text-center">
                                <span>
                                    {% if patient.current_room %}
                                        {% url "cms:protected:ward_detail" pk=patient.current_ward.ward_number as url %}
                                        {% translate "Stays in:" %} <a class="text-blue-500" href="{{ url }}">{{ patient.current_ward.name }}, {% translate "Room" %} {{ patient.current_room.room_number }}</a>
                                    {% elif patient.current_stay %}
                                        <b class="text-red-500">
                                            {% if patient.current_stay.recommended_ward %}
                                                {% url "cms:protected:ward_detail" pk=patient.current_stay.recommended_ward.ward_number as url %}
                                                {% translate "Waits for bed assignment in ward" %}
                                                <a class="text-blue-500" href="{{ url }}">{{ patient.current_stay.recommended_ward.name }}</a>
                                            {% else %}
                                                {% translate "Waits for assignment to ward" %}
                                            </b>
                                        {% endif %}
                                    {% else %}
                                        <span class="hidden lg:block">-</span>
                                    {% endif %}
                                </span>
                            </td>
                            <td class="p-4">
                                <div class="text-center flex flex-col sm:flex-row gap-1 lg:justify-end">
                                    {% if patient.current_stay.recommended_ward %}
                                        <a href="{% url 'cms:protected:assign_patient' ward_id=patient.current_stay.recommended_ward.id assignment_id=patient.current_stay.id %}"
                                           class="text-white border-2 border-green-500 hover:border-green-700 bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-700 rounded px-5 py-2.5">
                                            {% if patient.current_stay.bed %}
                                                {% translate "Transfer" %}
                                            {% else %}
                                                {% translate "Assign bed" %}
                                            {% endif %}
                                        {% endif %}
                                    </a>
                                    <a class="edit-patient-button border-2 border-blue-500 hover:border-blue-700 text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-700 rounded px-5 py-2.5">
                                        {% translate "Edit" %}
                                    </a>
                                    <a href="{% url "cms:protected:patient_details" patient.id %}"
                                       class="text-blue-500 border-2 border-blue-500 hover:border-blue-700 hover:text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-700 rounded px-5 py-2.5">
                                        {% translate "Details" %}
                                    </a>
                                </div>
                                <div class="!hidden flex flex-col lg:flex-row flex-wrap gap-1">
                                    <button class="grow edit-patient-button text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-700 rounded px-5 py-2.5">
                                        {% translate "Cancel" %}
                                    </button>
                                    <button class="grow text-white bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-700 rounded px-5 py-2.5"
                                            form="{{ patient.id }}">
                                        <form hidden
                                              id="{{ patient.id }}"
                                              method="post"
                                              action="{% url "cms:protected:update_patient" patient.id %}">
                                            {% csrf_token %}
                                        </form>
                                        {% translate "Save" %}
                                    </button>
                                    <button class="grow text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 rounded px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                                            form="delete-patient-{{ patient.id }}">
                                        <form hidden
                                              id="delete-patient-{{ patient.id }}"
                                              method="post"
                                              action="{% url "cms:protected:delete_patient" patient.id %}">
                                            {% csrf_token %}
                                        </form>
                                        {% translate "Delete" %}
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock content %}
